
body {
  background-color: lightcyan;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#whack-a-mole {
  background-color: khaki;
  border: solid 20px darkolivegreen;
  padding: 20px;
  width: 360px;
  display: flex;
  flex-wrap: wrap;
}

.hole {
  background-image: url("images/hole.png");
  background-size: contain;
  width: 110px;
  height: 123px;
  margin: 5px;
}

.mole {
  background-image: url("images/diglett_1.png");
}

#score {
  color: lightcoral;
}

.disclaimer-section, .cookie-consent-section {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}

.cookie-consent-section {
  color: darkred;
  font-weight: bold;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cookie-consent-button {
  background-color: yellow;
}